
  .person {
      border-style: double; 
      text-align: center;
   background: #fc0; /* Цвет фона */
      width: 300px; /* Ширина блока */
      padding: 5px; /* Поля */
      margin: 10px; /* Отступ сверху */
      border: 2px solid #000; /* Параметры рамки */
      box-sizing: border-box; /* Ширина */
    
  }
