

.SimpleContainer {
    font-family: sans-serif;
    background-color: lightBlue;
    border-style: dotted; 
    width: 50%;
    display: flex;
    justify-content: start;
    padding: 50px;
    margin: 2% 30%;
    min-height: 300px;
    
  }
  
